---
layout: default
---
<section id="main">
  <article class="article">
      <div class="article-date1">
      	<!-- 结构化数据-->
        <a href="{{ post.url }}" class="article-date2"><span itemprop="datePublished">{{ page.date | date:"%Y/%m/%d" }}</span></a>
      </div>
      <div class="article-inner">
		  <header class="article-header">
		  	  <!-- 结构化数据-->
		      <h1 itemprop="name" class="article-title">{{ page.title }}</h1>
		  </header>
		  <!-- 结构化数据-->
		  <div itemprop="articleBody" class="article-entry">
		      {{ content }}
		  </div>
		  <footer class="article-footer">
		      <ul>
				  <span class="article-footer-tag">Tags: </span>
				  {% for tag in page.tags %}
				      <li class="article-footer-tag"> <a href="/tags">{{ tag }}</a> </li>
				  {% endfor %}
				  <span class="article-footer-tag"> | </span>
				  <span class="article-footer-tag"> Categoriy: </span>
				  {% for category in page.categories %}
				      <li class="article-footer-tag"> <a href="/categories">{{ category }}</a> </li>
				  {% endfor %}
		      </ul>
		  </footer>
       </div>
  </article>
  <div>
	  <ul class="pager">
			{% if page.next.url %}
				<li class="previous"><a href="{{ page.next.url }}">&larr; Newer</a></li>
			{% else %}
  	  			<li class="previous disabled"><span>&larr; Nothing</span></li>
			{% endif %}
			<li ><a href="/">HOME</a></li>
			{% if page.previous.url %}
      			<li class="next"><a href="{{ page.previous.url }}">Older &rarr;</a></li>
			{% else %}
				<li class="next disabled"><span>Nothing &rarr;</span></li>
			{% endif %}
      </ul>
  </div>
  <div class="article-inner article-comment">
        {% include duoshuo.html %}
  </div>
</section>
